@use "reset/reset.scss" as *;
@use "global/variables.scss" as *;
@use "themes/light.scss" as *;
@use "themes/dark.scss" as *;

.app {
  font: var(--font-regular);
  min-height: 100dvh;
  background: var(--color-bg-1);
  color: var(--color-white);
  display: flex;
  // padding: 16px;
}

.navigationBar {
  margin-right: 8px;
}

.overflowHidden {
  overflow: hidden;
}