# При несоответствии версий установка будет завершаться с ошибкой
engine-strict=true
# Если будет несоответствие версий с peerDependencies, установка будет завершаться с ошибкой.
strict-peer-dependencies=true