.Book {

  &__row {
    display: flex;
  }

  &__container {
    display: flex;
    padding: 16px 30px 0px 16px;
    border-radius: 8px;
    // border: 0.5px solid var(--color-border-primary);
    background: var(--color-bg-primary);
    flex: 1 1 70%;
  }

  &__navigation {
    flex: 0 0 300px;
  }

  &__header {
    padding: 16px;
    border-radius: 8px;
    background: var(--color-bg-tertiary);
    width: 282px;
    font: var(--font-header);
  }

  &__content {
    flex: auto;
    height: 94dvh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .BookNavigation {

    &__list {
      height: 88dvh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
      
      padding-top: 8px;
      padding-left: 32px;
    }

    &__item {
      color: var(--color-text-inactive);
      padding: 8px 16px;
      font: var(--font-span);
      cursor: pointer;

      &:hover {
        color: var(--color-white);
      }
    }
  }
}

.Chat {
  flex: 0 0 30%;
}