:root {
  //Fonts
  //FontFamily
  --font-family-regular: 'GolosUIWebRegular', sans-serif;
  --font-family-medium: 'GolosUIWebMedium', sans-serif;
  --font-family-bold: 'GolosUIWebBold', sans-serif;

  //Span
  --font-span-font-size: 0.875rem;
  --font-span-line-height: 1.0625rem;
  --font-span-weight: 400;
  --font-span: var(--font-span-weight) var(--font-span-font-size) / var(--font-span-line-height) var(--font-family-regular);

  //Regular
  --font-regular-font-size: 1rem;
  --font-regular-line-height: 1.375rem;
  --font-regular-weight: 400;
  --font-regular: var(--font-regular-weight) var(--font-regular-font-size) / var(--font-regular-line-height) var(--font-family-regular);

  //Medium
  --font-medium-font-size: 1rem;
  --font-medium-line-height: 1.375rem;
  --font-medium-weight: 500;
  --font-medium: var(--font-medium-weight) var(--font-medium-font-size) / var(--font-medium-line-height) var(--font-family-medium);
  
  //SubTitle
  --font-medium-sub-title-font-size: 1.125rem;
  --font-medium-sub-title-line-height: 1.375rem;
  --font-medium-sub-title-weight: 500;
  --font-medium-sub-title: var(--font-medium-sub-title-weight) var(--font-medium-sub-title-font-size) / var(--font-medium-sub-title-line-height) var(--font-family-medium);

  //MediumHeader
  --font-medium-header-font-size: 1.5rem;
  --font-medium-header-line-height: 1.375rem;
  --font-medium-header-weight: 500;
  --font-medium-header: var(--font-medium-header-weight) var(--font-medium-header-font-size) / var(--font-medium-header-line-height) var(--font-family-medium);

  //Header
  --font-header-font-size: 0.875rem;
  --font-header-line-height: 1.0625rem;
  --font-header-weight: 700;
  --font-header: var(--font-header-weight) var(--font-header-font-size) / var(--font-header-line-height) var(--font-family-bold);

  //Bold
  --font-bold-font-size: 1rem;
  --font-bold-line-height: 1.375rem;
  --font-bold-weight: 700;
  --font-bold: var(--font-bold-weight) var(--font-bold-font-size) / var(--font-bold-line-height) var(--font-family-bold);

  //Colors
  //DarkTheme
  --color-bg-primary: #1E1E1E;
  --color-bg-secondary: #212121;
  --color-bg-tertiary: #2B2B2B;
  --color-border-primary: #575757;
  --color-text-description: #B6B6B6;
  --color-not-active:#818181;
  --color-bg-btn-accent: #3E6E37;
  --color-text-message-primary: 255, 255, 255;
  --color-svg-inactive: #999999;
  --color-text-inactive: #909090;  
  
  //LightTheme
  --color-bg-primary-inverted: #d3c5c5;
  --color-bg-secondary-inverted: #b8a7a7;
  --color-border-primary-inverted: #575757;
  --color-bg-tertiary-inverted: #969393;
  --color-text-message-primary-inverted: #000;
  
  --color-white: #fff;
  
  //Constants
  --app-padding-left: 8px;
  --navbar-width: 84px;
  --navbar-margin-right: 8px;
  --app-padding-right: 16px;
  --offset-container: calc(var(--app-padding-left) + var(--navbar-width) + var(--navbar-margin-right) + var(--app-padding-right));

  //Z-index
  --z-index-messages: 0;
  --z-index-input: 1;
  --z-index-card-rotated-background: 0;
  --z-index-card-background: 1;
  --z-index-card-outline: 2;
  --z-index-card-extra-text: 2;
}