.Levels {
  display: flex;
  width: 100%;

  &__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 860px;
  }
}

.Carousel,
.LevelWrapper {
  margin-bottom: 36px;
}