.app.dark {
  --color-bg-1: var(--color-bg-primary); 
  --color-bg-2: var(--color-bg-secondary);
  --color-border-1: var(--color-border-primary);
  --color-bg-message: var(--color-bg-message-primary);
  --color-text-message: var(--color-text-message-primary);
}