.app.light {
  --color-bg-1: var(--color-bg-primary-inverted); 
  --color-bg-2: var(--color-bg-secondary-inverted);
  --color-border-1: var(--color-border-primary-inverted);
  --color-bg-message: var(--color-bg-message-primary-inverted);
  --color-text-message: var(--color-text-message-primary-inverted);
}