.Cards {
  display: flex;
  width: 100%;

  &__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 860px;
  }

  .Card {
    display: flex;
    flex-direction: column;
    width: 300px;

    &__icons {
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      background: var(--color-bg-secondary);
      border: 0.5px solid var(--color-border-primary);
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 12px;

      .IconWrapper {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__text {
      font: var(--font-regular);
      text-align: center;
      margin-bottom: 12px;
    }

    &__background {
      display: flex;
      position: relative;

      &_centered {
        z-index: var(--z-index-card-background);
        background: url('../../../shared/assets//CardBackground.png') no-repeat;
      }

      &::before {
        content: url('../../../shared/assets/CardBackgroundRotated.png');
        position: absolute;
        z-index: var(--z-index-card-rotated-background);
        right: 0;
        left: 0;
        transform: scaleX(-1) translateX(15%);
      }

      &::after {
        content: url('../../../shared/assets/CardBackgroundRotated.png');
        position: absolute;
        z-index: var(--z-index-card-rotated-background);
        right: 0;
        left: 0;
        transform: translateX(15%);
      }
    }

    &__outline {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 300px;
      height: 400px;
      background: var(--color-bg-secondary);
      border: 0.5px solid var(--color-border-primary);
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 12px;
      z-index: var(--z-index-card-outline);
    }

    &__extraText {
      font: var(--font-regular);
      width: 100%;
      height: 46px;
      text-align: center;
      background: var(--color-bg-secondary);
      border: 0.5px solid var(--color-border-primary);
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      z-index: var(--z-index-card-extra-text);
    }

    &__roundedButton,
    &__roundedButton_big {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: var(--color-bg-tertiary);
      border-radius: 100px;
      margin-bottom: 10px;
    }

    &__extra {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &__img {
      max-width: 300px;
      max-height: 400px;
      user-select: none;
    }

    &__question {
      margin-right: 32px;
    }

    &__actions {
      display: flex;
      column-gap: 12px;
    }

    &__clue {
      text-align: center;
      background: var(--color-bg-tertiary);
      border-radius: 4px;
      color: var(--color-svg-inactive);
      width: 20px;
    }

    &__roundedButton {
      cursor: pointer;
      width: 48px;
      height: 48px;
    }

    &__roundedButton_big {
      cursor: pointer;
      width: 64px;
      height: 64px;
    }

    &__comments {
      margin-left: 32px;
    }

    &__question,
    &__like,
    &__dislike,
    &__comments {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}